<app-nav-bar></app-nav-bar>

<div id="new-post" class="bg-secondary card">
    <div class="title text-center">
        <h2>FORMULAIRE</h2>
    </div>
    <form #form="ngForm" (ngSubmit)="add(form)"  class="form-group card-body" >
        <div id="form-field">
            <div class="all">
                    <div class="form-group">
                        <label for="type">CHOISIR UNE OPTION</label>
                        <select ngModel name="type" class="form-control" id="type">
                            <option value="offre">OFFRE</option>
                            <option value="demande">DEMANDE</option>
                        </select>
                    </div>
                </div>
                <div class="all">
                    <div class="form-group">
                        <label for="location">CHOISIR UNE LOCALITE</label>
                        <select ngModel name="location" class="form-control" id="location">
                            <option *ngFor="let loc of locations">{{ loc | uppercase  }}</option>
                        </select>
                    </div> 
                </div>
                <div class="all">
                    <div class="form-group">
                        <label for="categories">CATEGORIES</label>
                        <select ngModel name="category" class="form-control" id="categories" (change)="hideElements()">
                            <option value="">choisir une categorie</option>
                                <optgroup  *ngFor="let cat of localCategories" [label]="cat.title">
                                    {{cat.title}}
                                    <option *ngFor="let sub of cat.subCategories" [value]="cat.title | lowercase">{{sub}}</option>
                                </optgroup>
                        </select>
                    </div>
                </div>
                <div class="all">
                    <div class="form-group">
                        <label for="title">DONNEZ UN TITRE A VOTRE ANNONCE</label>
                        <input ngModel name="title" type="text" class="form-control" id="title" required>
                    </div> 
                </div>
                <div class="second electronique vetements interieur auto">
                    <div class="form-group">
                        <label for="condition">CONDITION</label>
                        <select ngModel name="condition" class="form-control" id="condition">
                            <option>NEUF</option>
                            <option>OCCASION</option>
                        </select>
                    </div>
                </div>
                <div class="second electronique vetements interieur auto"> 
                    <div class="form-group">
                        <label for="marque">LA MARQUE</label>
                        <input ngModel name="brand" type="text" class="form-control" id="marque">
                    </div>
                </div>
                <div class="second electronique vetements interieur auto">
                    <div class="form-group">
                        <label for="model">LE MODEL</label>
                        <input ngModel name="model" type="text" class="form-control" id="model">
                    </div>
                </div>
                <div class="second immobilier">
                    <div class="form-group">
                        <label for="pieces">NOMBRE DE PIECES</label>
                        <input ngModel name="pieces" type="text" class="form-control" id="pieces">
                    </div> 
                </div>
                <div class="second immobilier">
                    <div class="form-group">
                        <label for="loyer">LOYER</label>
                        <input ngModel name="rent" type="text" class="form-control" id="loyer">
                    </div> 
                </div>
                <div class="second electronique vetements interieur auto">
                    <div class="form-group">
                        <label for="price">PRIX</label>
                        <input ngModel name="price" type="text" class="form-control" id="price">
                    </div> 
                </div>
                <div class="second jobs">
                    <div class="form-group">
                        <label for="position">POSTE</label>
                        <input ngModel name="position" type="text" class="form-control" id="position">
                    </div> 
                </div>
                <div class="second jobs">
                    <div class="form-group">
                        <label for="salary">SALAIRE</label>
                        <input ngModel name="salary" type="text" class="form-control" id="salary">
                    </div> 
                </div>
                <div class="second all">
                    <div class="form-group">
                        <label for="negociation">NEGOCIABLE</label>
                        <select ngModel name="isNegociable" class="form-control" id="negociation">
                            <option>NEGOCIABLE</option>
                            <option>NON NEGOCIABLE</option>
                        </select>
                    </div>
                </div>
                <div class="second electronique vetements interieur auto">
                    <div class="form-group">
                        <label for="bids">TYPE DE VENTE</label>
                        <select ngModel name="isAuction" class="form-control" id="bids" (change)="adType()">
                            <option>VENTE DIRECTE</option>
                            <option>ENCHERE</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="isAuch">
                    <div class="form-group">
                        <label for="time">DUREE DE LA VENTE AUX ENCHERES</label>
                        <input ngModel name="duration" type="datetime-local" class="form-control" id="time">
                    </div>
                </div>
                <div class="second all">
                    <div class="form-group">
                        <label for="description">DESCRIPTION</label>
                        <textarea ngModel name="description" id="description" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                </div>
        </div>
        <div class="form-check mt-4">
            <label class="form-check-label" for="defaultCheck1">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">Default checkbox Default
            </label>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block my-4">PUBLIER</button>
    </form>
</div>
<app-footer></app-footer>