<app-nav-bar></app-nav-bar>

<div id="new-post" class="bg-secondary card">
    <div class="title text-center">
        <h2>FORMULAIRE</h2>
    </div>
    <form  class="card-body" >
        <div id="form-field">
            <div class="all">
                    <div class="form-group">
                        <label for="type">CHOISIR UNE OPTION</label>
                        <select class="form-control" id="type">
                            <option value="offre">OFFRE</option>
                            <option value="demande">DEMANDE</option>
                        </select>
                    </div>
                </div>
                <div class="all">
                    <div class="form-group">
                        <label for="location">CHOISIR UNE LOCALITE</label>
                        <select class="form-control" id="location">
                            <option *ngFor="let loc of locations">{{ loc | uppercase  }}</option>
                        </select>
                    </div> 
                </div>
                <div class="all">
                    <div class="form-group">
                        <label for="categories">CATEGORIES</label>
                        <select class="form-control" id="categories" (change)="hideElements()">
                            <option value="">choisir une categorie</option>
                                <optgroup  *ngFor="let cat of localCategories" [label]="cat.title">
                                    {{cat.title}}
                                    <option *ngFor="let sub of cat.subCategories" [value]="cat.title | lowercase">{{sub}}</option>
                                </optgroup>
                        </select>
                    </div>
                </div>
                <div class="all">
                    <div class="form-group">
                        <label for="title">DONNEZ UN TITRE A VOTRE ANNONCE</label>
                        <input type="text" class="form-control" name="" id="title" required>
                    </div> 
                </div>
                <div class="second electronique vetements interieur auto">
                    <div class="form-group">
                        <label for="condition">CONDITION</label>
                        <select class="form-control" id="condition">
                            <option>NEUF</option>
                            <option>OCCASION</option>
                        </select>
                    </div>
                </div>
                <div class="second electronique vetements interieur auto"> 
                    <div class="form-group">
                        <label for="marque">LA MARQUE</label>
                        <input type="text" class="form-control" name="" id="marque">
                    </div>
                </div>
                <div class="second electronique vetements interieur auto">
                    <div class="form-group">
                        <label for="model">LE MODEL</label>
                        <input type="text" class="form-control" name="" id="model">
                    </div>
                </div>
                <div class="second immobilier">
                    <div class="form-group">
                        <label for="pieces">NOMBRE DE PIECES</label>
                        <input type="text" class="form-control" name="" id="pieces">
                    </div> 
                </div>
                <div class="second immobilier">
                    <div class="form-group">
                        <label for="loyer">LOYER</label>
                        <input type="text" class="form-control" name="" id="loyer">
                    </div> 
                </div>
                <div class="second electronique vetements interieur auto">
                    <div class="form-group">
                        <label for="price">PRIX</label>
                        <input type="text" class="form-control" name="" id="price">
                    </div> 
                </div>
                <div class="second jobs">
                    <div class="form-group">
                        <label for="position">POST</label>
                        <input type="text" class="form-control" name="" id="position">
                    </div> 
                </div>
                <div class="second jobs">
                    <div class="form-group">
                        <label for="salary">SALAIRE</label>
                        <input type="text" class="form-control" name="" id="salary">
                    </div> 
                </div>
                <div class="second all">
                    <div class="form-group">
                        <label for="negociation">NEGOCIABLE</label>
                        <select class="form-control" id="negociation">
                            <option>NEGOCIABLE</option>
                            <option>NON NEGOCIABLE</option>
                        </select>
                    </div>
                </div>
                <div class="second electronique vetements interieur auto">
                    <div class="form-group">
                        <label for="bids">TYPE DE VENTE</label>
                        <select class="form-control" id="bids" (change)="adType()">
                            <option>VENTE DIRECTE</option>
                            <option>ENCHERE</option>
                        </select>
                    </div>
                </div>
                <div *ngIf="isAuch">
                    <div class="form-group">
                        <label for="time">DUREE DE LA VENTE AUX ENCHERES</label>
                        <input type="datetime-local" class="form-control" id="time">
                    </div>
                </div>
                <div class="second all">
                    <div class="form-group">
                        <label for="description">DESCRIPTION</label>
                        <textarea name="" id="description" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">PUBLIER</button>
    </form>
</div>
<app-footer></app-footer>