#new-post{
    margin: 80px auto;
    width: 600px;
    height: 80%;
    padding: 25px;
}
.second{
    display: none;
}

input[type="file"] {
    display: none;
}

@media screen and (max-width: 670px ) {
   #new-post{
       width: 90%;
       padding: 10px;
   }
}