<app-nav-bar></app-nav-bar>
<div class="text-center my-5 mx-2" >
    <h1 class="font-weight-light m-4">ECRIVEZ NOUS</h1>
    <form class="contact-form card py-5 px-3 my-4  mx-auto">
        <div class="form-group">
            <label for="name">NOM ET PRENOM</label>
            <input type="text" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">EMAIL</label>
            <input type="text" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="message">MESSAGE</label>
            <textarea id="message" class="form-control" rows="5"></textarea>
        </div>
        <button class="btn btn-primary" type="button">ENVOYER</button>
    </form>
</div>
<app-footer></app-footer>