<app-nav-bar></app-nav-bar>

<div class="" style="min-height:400px">
    <h1 class="display-3 text-center my-5">A propos du groupe OKZ HACK</h1>
    <h1 class="display-4 text-center">Equipe</h1><hr>
    <div class="row my-4">
      <div class="col-md card m-2" *ngFor="let member of team">
        <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652_960_720.png" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title font-weight-light">
            {{member}} 
            <h3 class="font-weight-light">Developper</h3>
          </h2>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure numquam exercitationem nihil modi! Molestiae repellendus consectetur commodi iure quia! Sapiente!</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
          <h2 class="display-4 text-center my-3">Qui sommes nous</h2>
      </div>
      <div class="row">
          <p class="text-center font-weight-light" style="font-size: 23px">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo eaque eius et quisquam aliquam, adipisci sint commodi fugiat ipsam, laborum dolorum ipsa obcaecati quaerat odio assumenda atque aliquid ducimus modi dignissimos. Quo iste dignissimos sed nam velit consequatur expedita non repudiandae molestias dolores, quasi magnam laboriosam incidunt, odio consectetur esse similique ducimus accusantium? Quod doloribus hic beatae nobis quae ipsa nemo exercitationem unde. Laborum cupiditate ex ipsa enim explicabo recusandae neque. Aperiam eligendi debitis, quam quisquam totam laudantium quibusdam aspernatur tempore eos voluptates odit laboriosam explicabo assumenda temporibus consequuntur alias iste sed natus id error qui laborum iusto obcaecati! Quos.</p>
      </div>
    </div>
</div>
<app-footer></app-footer>