<app-nav-bar></app-nav-bar>
<div class="">
  <h1 class="text-center mx-4 my-5">CONDITIONS D'UTILISATION</h1>
  <ul class="text-justify px-3" style="font-size:22px">
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
    <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestiae, atque corrupti nam quibusdam, ad natus ea fuga praesentium eos voluptatem esse sunt hic accusamus sint. Earum sapiente laboriosam placeat.
    </li>
  </ul>
</div>
<app-footer></app-footer>
