.login-form{
    width: 350px;
    height: 385px;
    padding: 30px;
    margin: 40px auto;
}

a{
    text-decoration: none;
}


@media screen and (max-width: 470px ) {
    .login-form{
        width: 95%;
        height: 385px;
        padding: 30px;
        margin: 40px auto;
    }

}