.error-box{
    height: 500px;
    background-color: rgb(221, 10, 10);
    margin: 80px 0px;
}

.error-content > *{
    margin: 30px 10px;
}

.error-content h1{
    font-size: 90px;
    font-weight: normal;
}

@media screen and (max-width: 760px){
    .error-content h1{
        font-size: 30px;
    }
    .error-box{
        height: 300px;
    }
    
}