<app-nav-bar></app-nav-bar>
<div class="wrapper">
  <div class="title">
    <h3>Honda Civic 2017 Type R (NEW)</h3>
  </div>
  <div class="buy-opt">
    <div class="seller-pic">
      <img src="https://static.pexels.com/photos/160933/girl-rabbit-friendship-love-160933.jpeg" alt="">
    </div>
  </div>
  <div class="img-slider carousel slide" data-ride="carousel" id="img-slider">
    <ul class="carousel-indicators">
      <li *ngFor="let imgUrl of imgUrls; index as i" data-target="#img-slider" data-slide-to="i"></li>
    </ul>
    <div class="loader"></div>
  <div class="carousel-inner">
      <div *ngFor="let imgUrl of imgUrls; index as i"  class="carousel-item" [class.active]="i === 0">
        <img [src]="imgUrl" alt="" [id]="i">
        <div class="carousel-caption">
          <h3>Titre de l'image</h3>
          <p>Description de l'image</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#img-slider" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#img-slider" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div class="ad-infos">
    <div>
        <p>CONDITION: </p>
    </div>
    <div>
        <p>MARQUE: </p>
    </div>
    <div>
        <p>MODEL: </p>
    </div>
    <div>
      <p>LOCATION: </p>
    </div>
    <div>
        <p>SELLER: </p>
    </div>
    <div>
        <P>RATING: </P>
    </div>
    <div>
      <button class="btn-show-number">CLICK TO SHOW THE NUMBER</button> 
    </div>
    <div>
      <button class="btn-bids">MAKE AN OFFER</button>
    </div>  
  </div>
  <div class="description">
    <div>
        <h3>DESCRIPTION:</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quia deleniti sunt maiores magni alias impedit eveniet voluptatem voluptate, veritatis quasi provident ad eos et molestiae tempore temporibus! Doloremque fugit harum nihil reprehenderit quaerat. Ullam voluptas dicta assumenda cumque, ducimus repudiandae tempore fuga perspiciatis ex aspernatur, in rem officiis quae!</p>
    </div>
    <div class="ad-social">
      <ul>
        <li><a href=""><i class="fa fa-star" aria-hidden="true"></i> Ajouter</a></li>
        <li> <a href=""><i class="fa fa-share-alt" aria-hidden="true"></i> Partager</a></li>
        <li><a href=""><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Signaler cette annonce</a></li>
      </ul>
    </div>
  </div>
  <div class="add-map">add map</div>
  <div class="safety-tip">
    <h5>SAFETY TIPS</h5>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, reprehenderit? </p>
  </div>
</div>

<app-footer></app-footer>