<div class="text-center" id="search-field">
  <div class="navbar bg-secondary rounded">
      <form #form="ngForm" name="form" class="form-inline row w-100 mx-4 my-0">
              <input 
              ngModel
              name="query"
              type="text" 
              class="form-control  col-sm mx-2 my-4" 
              placeholder="Rechercher des annonces">
              <select 
              ngModel 
              name="category" id="" 
              class="form-control  col-sm mx-2 my-4">
                <option value="">
                    choisir une categorie
                </option>
                <optgroup  *ngFor="let cat of categories" [label]="cat.title">
                    {{cat.title | uppercase}
                    <option *ngFor="let sub of cat.subCategories" [value]="cat.title | lowercase">
                        {{sub | uppercase}}
                    </option>
                </optgroup>
              </select>
              <select 
              ngModel 
              name="location" 
              id="" 
              class="text-ali-center form-control col-sm mx-2 my-4">
                  <option selected>CHOISIR UNE LOCATITE</option>
                  <option *ngFor="let loc of locations">{{ loc | uppercase }}</option>
              </select>
              <button 
              (click)="setQueryParams(form.value)"
              type="button" 
              class="btn btn-primary form-control col mx-2 my-4">RECHERCHER</button>
      </form>
  </div>
</div>