<div class="text-center" id="search-field">
  <h1>World’s Largest Classifieds Portal</h1>
  <p>Search from over 15,00,000 classifieds & Post unlimited classifieds free!</p>
  <div  id="input-form-lg">
      <form class="form-row">
          <div class="input-group col-md-10 offset-md-1">
              <input type="text" class="form-control form-control-lg">
              <select name="" id="" class="form-control form-control-lg">
                <option selected>pick category</option>
                <option value="1">pick category</option>
                <option value="2">pick category</option>
              </select>
              <select name="" id="" class="form-control form-control-lg">
                  <option value="">pick category</option>
                  <option value="">pick category</option>
                  <option value="">pick category</option>
              </select>
              <input type="submit" class="btn btn-danger form-control form-control-lg">
          </div>
        </form>
  </div>
  <div  id="input-form-mb">
      <form class="form-row">
          <div class="form-group col-md-2 offset-md-2">
            <input type="text" class="form-control form-control-lg">
          </div>
          <div class="form-group col-md-2">
              <select name="" id="" class="form-control form-control-lg">
                <option selected>pick category</option>
                <option value="1">pick category</option>
                <option value="2">pick category</option>
              </select>
          </div>
          <div class="form-group col-md-2">
              <select name="" id="" class="form-control form-control-lg">
                  <option value="">pick category</option>
                  <option value="">pick category</option>
                  <option value="">pick category</option>
              </select>
          </div>
          <div class="form-group col-md-2">
              <input type="submit" class="btn btn-danger form-control form-control-lg">
          </div>
      </form>
  </div>
 
</div>
