#main-top {
    background-color: cyan;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}


#post-ad-sm{
    text-align: center;
}

@media screen and ( min-width: 740px ) {
    #post-ad-sm {
        display: none;
    }

    #nav-logo{
        text-align: center;
    }
}


@media screen and ( max-width: 740px ) {
    #post-ad-lg {
        display: none;
    }

    #nav-logo{
        width: 30%;
        float: left;
    }
    .nav-user{
        width: 70%;
        float: right;
    }
    .header a {
        text-decoration: none;
        color: black;
    }
    #main-top {
        background-color: cyan;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
}
