#main-top {
    background-color: cyan;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

#main-top a{
    text-decoration: none;
    color: black;
}


#main-top #nav-user{
    text-align: right;
}

#post-ad-sm{
    margin: 20px 30%;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

#post-ad-lg a{
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: red;
}

@media screen and ( min-width: 740px ) {
    #post-ad-sm {
        display: none;
    }

    #nav-logo{
        text-align: center;
    }
}


@media screen and ( max-width: 740px ) {
    #post-ad-lg {
        display: none;
    }
    #post-ad-sm{
        background: red;
    }
    #nav-logo{
        width: 50%;
        float: left;
    }
    #nav-user{
        width: 50%;
        float: right;
    }
    .header a {
        text-decoration: none;
        color: black;
    }
}
