#footer{
    border-top: 1px solid rgb(204, 201, 201);
    border-bottom: 1px solid rgb(197, 195, 195);
    padding: 20px 15px 10px 15px;
    margin: 40px 0px 10px 0px;
}

.footer-nav ul{
    padding: 0px;
}

.download-app a{
    margin: 0px 5px;
}
.footer-nav ul li{
    list-style: none;
    display: inline;
}

.footer-nav ul li>a{
    margin-right: 20px;
    text-decoration: none;
}
.copyright{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 780px){
    .download-app{
        float: right;
    }
}

@media screen and ( max-width: 780px){
    .footer-nav ul{
        margin: 10px 0px;
    }
    .footer-nav ul li{
        list-style: none;
        display: block;
        text-align: center;
    }
    .footer-nav ul li>a{
        margin: 0px;
    }

}