<app-nav-bar></app-nav-bar>
<div class="container">
  <app-home-search-field></app-home-search-field>
  <div class="row bg-secondary">
    <div class="col-sm">
      <div class="clearfix my-3 mb-5">
        <div class="float-left btn-group btn-group-sm">
          <button type="button" class="btn active" (click)="barDisplay()">
              <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
          </button>
           <button type="button" class="btn" (click)="gridDisplay()">
              <i class="fa fa-th fa-2x" aria-hidden="true"></i>
           </button>  
        </div>
        <div class="float-right">
          <div class="dropdown">
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown">
              Trier par:
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item">Plus Recents</a>
              <a class="dropdown-item">Prix croissant</a>
              <a class="dropdown-item">Prix decroissant</a>
            </div>
          </div>
        </div>
      </div>
      <div>
          <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Verifiées uniquement
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Neufs uniquement
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Negociable uniquement
              </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Avec images
                </label>
              </div>
      </div>
      <hr>
      <div id="bar">
        <ul class="px-0">
          <li class="card my-3 py-2" *ngFor="let article of adCard | paginate: { itemsPerPage: 5, currentPage: p }">
            <a routerLink="/article/:id">
              <div class="row">
                  <div class="col-sm-3 my-2">
                    <img class="card-img my-2 mx-2" src="../../assets/images/laptop.jpg" alt="">
                  </div>
                    <div class="col-sm-9 my-2">
                      <div class="my-2">
                          <h3>Ads title goes here</h3>
                          <h4>100.000 FCFA</h4>
                          <p>(NON NEGOCIABLE)</p>
                      </div>
                    </div>
                </div>
                <span class="ad-condition-1 my-3">OCCASION</span>
                <span class="ad-location-1 my-3">Abidjan, Il y a 1 heure</span>
            </a>
          </li>
        </ul>
        <div class="my-4 mx-auto">
          <pagination-controls (pageChange)="p = $event"
                                previousLabel="Precedent"
                                nextLabel="Suivant"
          >
        </pagination-controls>
        </div>
      </div>
      <div id="grid" style="display:none">
          <div class="row  mx-0">
              <div class="col-sm-6 col-md-3 py-2 px-2" *ngFor="let article of adCard | paginate: { itemsPerPage: 5, currentPage: p }">
                <a routerLink="/article/:id" class="card py-2">
                  <div class="ad-item-box-y">
                      <div class="">
                        <img class="card-img-top" src="../assets/images/laptop.jpg" alt="image de l'annonce">
                        <span class="ad-location-2">Abidjan</span>
                        <span class="ad-duration">Il y a 1 heure</span>
                        <span class="ad-verified"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></span>
                        <span class="ad-condition-2">OCCASION</span>
                      </div>
                      <div class="text-center card-body">
                        <h3 class="card-text">Ads title goes here</h3>
                          <h4>100.000 FCFA</h4>
                          <p>(NON NEGOCIABLE)</p>
                      </div>
                      
                  </div>
                </a>
              </div>
          </div>
          <div class="my-4 mx-auto">
            <pagination-controls (pageChange)="p = $event"
                                  previousLabel="Precedent"
                                  nextLabel="Suivant"
            >
          </pagination-controls>
          </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>