<div class="text-center" id="home-category">
  <h1 class="display-4">Categories</h1>
  <h3 class="font-weight-light">Find out &amp; explore new businesses near your area and see what's happening !!!</h3>
  <div id="category-boxes" class="row my-5">
    <div *ngFor="let c of categories$ | async" class="col-sm-6 col-md-3">
      <div class="cat-box card" >
          <div class="cat-icon">
            <img [src]="c.imgUrl" alt="">
            <a href=""><h3>{{ c.title }}</h3></a>
          </div>
        </div>
    </div>
  </div>
</div>
