.login-form{
    width: 450px;
    padding: 30px;
    margin: 40px auto;
}

a{
    text-decoration: none;
    color: rgb(107, 62, 150);
}

.social li{
    margin: 0px 10px;
}


@media screen and (max-width: 470px ) {
    .login-form{
        width: 98%;
        padding: 30px;
        margin: 40px auto;
    }
    
}