<div id="snackbar">{{ notification }}</div>
<div class="register-form">

    <div class="login-form card">
      <form #form="ngForm" (ngSubmit)="createAccount(form)" class="form-group">
          <h3 class="text-center my-4">CREER VOTRE COMPTE OKZ</h3>
          <div class="log-input">
              <input #name="ngModel" ngModel name="displayName" type="text" placeholder="Nom et Prenom" class="form-control" required>
          </div>
          <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
            Veillez a entrez votre nom s'il vous plait !
        </div>
          <div class="log-input my-2">
              <input #email="ngModel" ngModel name="email" type="email" placeholder="Email" class="form-control" email required>
          </div>
          <div  class="alert alert-danger" *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors.email">Cette address email n'est pas valide.</div>
            </div>
          <div class="log-input my-2">
              <div class="input-group">
                    <span class="input-group-addon">Tel +225</span>
                    <input #phone="ngModel" ngModel name="phoneNumber" type="text" placeholder="NUMERO DE TEL" minlength="8" class="form-control"/>
              </div>
          </div>
          <div class="alert alert-danger" *ngIf="phone.invalid && phone.touched" >
                    Veillez entrez un numero de telephone valide afin de permettre a des personnes interressé par votre annonce de vous contacter !
           </div>
          <div class="log-input my-2">
              <input #password="ngModel" ngModel name="password" minlength="6" type="password" placeholder="Mot de passe" class="form-control" required>
          </div>
          <div class="log-input my-2">
             <input #ConfirmPassword="ngModel" ngModel name="ConfirmPassword" minlength="6" type="password" placeholder="Repeter le mot de passe" class="form-control" [equalTo]="password" required>
          </div>
          <div *ngIf="ConfirmPassword.touched">
            <div class="alert alert-danger"  *ngIf="ConfirmPassword.errors?.equalTo; else invalid">
                Les mots de passe ne correspondent pas.
            </div>
            <ng-template #invalid >
                <div class="alert alert-danger"  *ngIf="ConfirmPassword.invalid && password.invalid && !ConfirmPassword.errors?.equalTo" >
                    Le mot de passe doit contenir au moins 6 caracteres.
                </div> 
            </ng-template>
            </div>
          <div class="form-check my-4">
              <label class="form-check-label text-center">
                  <input #condition="ngModel" ngModel name="condition" type="checkbox" class="form-check-input" required>
                      j'accepte les <a routerLink="/conditions">conditions d'utilisation.</a>
              </label>
          </div>
          <div class="alert alert-danger" *ngIf="condition.invalid && condition.touched">
                    Veillez acceptez les conditions d'utilisations.
            </div>
          <div class="log-input mt-3">
              <button type="submit" [disabled]="!form.valid" class="btn btn-sm btn-block">CREER LE COMPTE</button>
          </div>

      </form>
      <div class="text-center my-3">
        <div>
          <p>creer un compte avec:</p>
        </div>
        <ul  class="nav justify-content-center">
          <li class="nav-item mr-4"><a (click)="googleLogin()" ><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>GOOGLE</a></li>
          <li class="nav-item"><a (click)="facebookLogin()" ><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
            FACEBOOK
          </a></li>
        </ul>
      </div>
</div>
<app-footer></app-footer>