/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(241, 239, 239);
}
.latest-ads-items a{
    text-decoration: none;
    color: black;
}
.img{
    object-fit: cover;
}

.ad-img{
    position: relative;
    text-align: center;
}

.ad-location{
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: rgb(0,0,0,.4);
    font-weight: bold;
}
.ad-duration{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.ad-verified{
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgb(216, 79, 79);
}
.ad-condition{
    position: absolute;
    top: 8px;
    left:0px;
    font-size: 11px;
    font-weight: 500;
    color: white;
    background-color: rgb(216, 79, 79);
    padding: 1px 10px;
}

a, button{
    cursor: pointer;
}


#snackbar, #snackBarP {
    visibility: hidden;
    width: 300px;
    margin-left: -150px; 
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 40px;
}

#snackbar.show, #snackBarP.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@keyframes fadein {
    from { top: 0; opacity: 0;}
    to { top: 40px; opacity: 1;}
}

@-webkit-keyframes fadein {
    from { top: 0; opacity: 0;}
    to { top: 40px; opacity: 1;}
} 

@keyframes fadeout {
    from { top: 40px; opacity: 1; }
    to { top: 0; opacity: 0;}
}
@-webkit-keyframes fadeout {
    from { top: 40px; opacity: 1; }
    to { top: 0; opacity: 0;}
}