<app-nav-bar></app-nav-bar>
<div class="user-page">
  <div class="row bg-secondary my-2 mx-1 p-4">
    <div class="col-md-4">
      <div class="p-1 user-pic">
          <img class="rounded" src="https://static.pexels.com/photos/160933/girl-rabbit-friendship-love-160933.jpeg" style="width:100%">
      </div>
    </div>
    <div class="col-md-8">
      <div class="py-3">
        <h1 class="display-4 font-weight-light">JHON DOE</h1>
        <p class="lead">Abidjan, Depuis Decembre 2011</p>
        <div>
          <span *ngFor="let star of ratingStars" class="fa fa-star fa-lg" [class.checked]="star" ></span>
        </div>
      </div>
      <div class="user-report">
        <ul class="nav">
          <li class="nav-item mr-3" (click)="addToFavorite()"><a><i class="fa fa-star" aria-hidden="true" id="favorite"></i> Ajouter</a></li>
          <li class="nav-item"><a href=""><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Signaler un abus</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="user-articles bg-secondary p-4">
    <h2>Annonces de JHON DOE</h2>
    <div class="row">
        <div class="col-sm-6 col-md-3 py-3" *ngFor="let x of adInfo">
            <a routerLink="/article/:id" class="card py-2">
              <div class="ad-item-box-y">
                  <div class="">
                    <img class="card-img-top" src="../assets/images/laptop.jpg" alt="image de l'annonce">
                    <span class="ad-location">Abidjan</span>
                    <span class="ad-duration">Il y a 1 heure</span>
                    <span class="ad-verified"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></span>
                    <span class="ad-condition">OCCASION</span>
                  </div>
                  <div class="text-center card-body">
                    <h3 class="card-text">Ads title goes here</h3>
                      <h4>100.000 FCFA</h4>
                      <p>(NON NEGOCIABLE)</p>
                  </div>
                  
              </div>
            </a>
          </div>
    </div>
  </div>
</div>
<app-footer></app-footer>